<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="user-scalable=no" />-->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>다음 지도 API</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel="stylesheet" href="/dist/css/side_style.css">
    <link rel="stylesheet" href="/dist/css/info_popup.css">

    <style>
        .acustomoverlay {position:relative;bottom:100px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
        .acustomoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
        .acustomoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
        .acustomoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
        .acustomoverlay:after {content:'';position:absolute;margin-left:-10px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        body.no-scroll {
            overflow: hidden !important
        }

    </style>
</head>
<body class=".no-scroll" id="no_modal_slide">
    <div>
        <div class="container">
            <div class="modal-btn-box">
<!--            <button type="button" id="modal-open">모달창 열기</button>  -->
            </div>
            
            <div class="popup-wrap" id="popup">
              <div class="popup">
<!--                <div class="popup-head">-->
<!--                    <span class="head-title">-->
<!--                      MuziMuzi</span>-->
<!--                </div>-->
                <div class="popup-body">
                  <div class="body-content">
                    <div class="body-titlebox">
                      <h1 id="title"></h1>
                    </div>
                    <div class="body-contentbox">
                      <p id="sub_title">

                      </p>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="popup-foot">
                  <span class="pop-btn confirm" id="confirm">와치고 안내</span>
                </div>
              </div>
          </div>
          </div>
    </div>
<nav>
    <div class="menu-btn" onclick="side_button()" id="no_menu_btn">
<!--        <div style="display:none" class="line line&#45;&#45;1"></div>-->
<!--        <div style="display:none" class="line line&#45;&#45;2"></div>-->
<!--        <div style="display:none" class="line line&#45;&#45;3"></div>-->
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
    </div>

    <div class="nav-links" id="side_menu">
        <div class="my_blue">
<!--            <a href="" class="my_link"><img src="./img/marker/Menuwhite.png" class="my_draw"> MENU</a>-->
            <a href="" class="my_link">MENU</a>
        </div>

        <a href="" class="link"><img src="./img/marker/1.notice.png" class="draw"> 알림</a>
        <a href="" class="link"><img src="./img/marker/2.sound.png" class="draw"> 소리</a>
        <a href="" class="link"><img src="./img/marker/3.use.png" class="draw"> 이용방법</a>
        <a href="" class="link"><img src="./img/marker/4.mobile.png" class="draw"> 고객센터</a>
        <a href="" class="link"><img src="./img/marker/5.id.png" class="draw"> 아이디</a>
        <a href="" class="link"><img src="./img/marker/6.logout.png" class="draw"> 로그아웃</a>
        <a href="" class="link"><img src="./img/marker/7.version.png" class="draw"> 앱버전</a>
    </div>
</nav>

<div id="scroll" style="text-align: center">
    <input type="hidden" id="latitude1" th:value="${latitude1}">
    <input type="hidden" id="longitude1" th:value="${longitude1}">
    <button style="width:70pt;height:30pt;" onclick="setDraggable(false)">현위치 끄기</button>
    <button style="width:70pt;height:30pt;" onclick="setDraggable(true)">현위치 켜기</button>
    <button style="width:70pt;height:30pt;" onclick="refresh()">새로고침</button>
    <button style="width:70pt;height:30pt;" onclick="side_button()">메뉴열기</button>
</div>
    <div id="map" style="width:100%;height:1000px;"></div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/js/SpringTable/side_script.js"></script>
<script src="/js/SpringTable/info_popup.js"></script>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4d4da419f788fe368fa0c7a6e8defeb5&libraries=clusterer"></script>
<!--  <script src="/js/SpringTable/index.js"></script>-->
<script th:inline="javascript">

    function refresh(){
        location.reload(true);
    }

    var zoom_level = 0;
    var my_gps_result = true;
    var global_locPosition = null;
    var latitude1 = document.getElementById("latitude1").value;
    var longitude1 = document.getElementById("longitude1").value;

    // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
    var markers = [];

    //개인 내 위치
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(latitude1, longitude1), // 지도의 중심좌표
            level: 0 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png', // 마커이미지의 주소입니다
        imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

    my_gps(latitude1, longitude1);

    function unity_gps(a, b){
        latitude1 = parseFloat(a);
        longitude1 = parseFloat(b);
        latitude1.value = latitude1;
        longitude1.value = longitude1;
        my_gps(latitude1,longitude1);
    }

    function my_gps(a, b){
        var locPosition = new kakao.maps.LatLng(a, b); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">내 위치</div>'; // 인포윈도우에 표시될 내용입니다
            // message = `<div class="acustomoverlay"><a onclick="go_function();"><span class="title">내 위치</span></a></div>`; // 인포윈도우에 표시될 내용입니다
            image = markerImage // 마커이미지 설정
        // 마커와 인포윈도우를 표시합니다
        displayMarker(markerImage, locPosition, message);

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(markerImage, locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition,
                image: markerImage
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            // var infowindow = new kakao.maps.InfoWindow({
            //     content : iwContent,
            //     removable : iwRemoveable
            // });

            markers.push(marker);

            // 인포윈도우를 마커위에 표시합니다
            // infowindow.open(map, marker);

            // 내 위치 마커를 누르면 내 위치로 지도 이동
            kakao.maps.event.addListener(marker, 'click', my);
                function my(){
                console.log("내위치누름");
                setDraggable(true);
                map.setCenter(locPosition);
            }

            if(my_gps_result == true){
                // 지도 중심좌표를 접속위치로 변경합니다
                setDraggable(true);
                map.setCenter(locPosition);
            }
        }
        //개인 내 위치 끝
        setMarkers();
    }

    kakao.maps.event.addListener(map, 'center_changed', function() {
        setDraggable(false);
    });

    function setMarkers() {
        for (var i = 0; i < markers.length-1; i++) {
            markers[i].setMap(null);
        }
    }

    // 버튼 클릭에 따라 지도 이동 기능을 막거나 풀고 싶은 경우에는 map.setDraggable 함수를 사용합니다
    function setDraggable(draggable) {
        if(draggable == true){
            my_gps_result = true
        }
        else if(draggable == false){
            my_gps_result = false
        }
    }

    // db에 가져온 좌표값을 콘솔로 표시해보기

    var my_positions = [[${abc}]];

    console.log(my_positions);

    var positions = new Array();

    for (idx in my_positions){
        var i = idx;
        var temp_name = my_positions[idx]["zone_name"]
        var address2 = my_positions[idx]["address"]
        var custom_content = 
        `<div class="acustomoverlay" onclick="modal('${temp_name}', '${address2}');"><a><span class="title">${temp_name}</span></a></div>`;
        var two_place = my_positions[idx]["gps_place"].split(',');
        var qa = new kakao.maps.LatLng(parseFloat(two_place[0]), parseFloat(two_place[1]));
        var sd = my_positions[idx]["marker_img"]
        var mname = my_positions[idx]["zone_name"]
        var dc = {content:custom_content, temp_latlng:qa, marker_img:sd, name:mname, address:address2}
        positions.push(dc);
    }
    console.log(positions);


    // 마커 클러스터러를 생성합니다
    var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 1 // 클러스터 할 최소 지도 레벨
    });
    
    var all_marker = $(positions).map(function(i, position) {

        
        var person_imageSrc = String(positions[i].marker_img), // 마커이미지의 주소입니다
        imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        var person_markerImage = new kakao.maps.MarkerImage(person_imageSrc, imageSize, imageOption);
        
        // 위치마커를 어디에 표시할지
        var person_marker = new kakao.maps.Marker({
            // 위치마커 새 이미지 추가하는 곳
            image : person_markerImage,
            map: map,
            position: positions[i].temp_latlng,
            title: positions[i].name
        });

        // 위치마커 위에 말풍선 디자인 표시 여부
        var infowindow = new kakao.maps.CustomOverlay({
            position: positions[i].temp_latlng,
            content: positions[i].content,
            removable: true
        });

        kakao.maps.event.addListener(map, 'zoom_changed', function() {   

            var latlng = map.getCenter();
            
            console.log("확대됨");
            // 지도의 현재 레벨을 얻어옵니다
            var level = map.getLevel();
            console.log(level);

            if(level <=4){
                // infowindow.open(map, person_marker, infowindow);
                infowindow.setMap(map, person_marker, infowindow);
                map.setCenter(latlng);
            }
            else{
                // infowindow.close();
                infowindow.setMap(null);
            }
        });
        kakao.maps.event.addListener(person_marker, 'click', function(){
                var address_name = "";
                for (idx in positions){
                    if(positions[idx].name == person_marker.getTitle()){
                        address_name = positions[idx].address;
                    }
                }
                modal(person_marker.getTitle(), address_name);
        });

        return person_marker;
    });

    // 클러스터러에 마커들을 추가합니다
    clusterer.addMarkers(all_marker);
    
    // //인포윈도우를 표시하는 클로저를 만드는 함수입니다 
    // function makeOverListener(map, person_marker, infowindow) {
    //     return function () {
    //         // infowindow.open(map, person_marker);
    //         infowindow.setMap(map, person_marker, infowindow);
    //     };
    // }

    // //인포윈도우를 닫는 클로저를 만드는 함수입니다 
    // function makeOutListener(infowindow) {
    //     return function () {
    //         // infowindow.close();
    //         infowindow.setMap(null)
    //     };
    // }

    kakao.maps.event.addListener(clusterer, 'clusterclick', function(cluster) {
        console.log("클러스터링 누름");
        // 현재 지도 레벨에서 1레벨 확대한 레벨
        var level = map.getLevel()-1;

        // 지도를 클릭된 클러스터의 마커의 위치를 기준으로 확대합니다
        map.setLevel(level, {anchor: cluster.getCenter()});
        setDraggable(false);
    });


    $("#scroll").on('scroll touchmove mousewheel', function(event) {
        event.preventDefault();
        event.stopPropagation();
        return false;
    });
    $("#side_menu").on('scroll touchmove mousewheel', function(event) {
        event.preventDefault();
        event.stopPropagation();
        return false;
    });
    $("#popup").on('scroll touchmove mousewheel', function(event) {
        event.preventDefault();
        event.stopPropagation();
        return false;
    });
</script>

</body>
</html>