<header class="nav-top">
    <span class="hamburger material-icons" id="ham">menu</span>
</header>

<nav class="nav-drill">
    <ul class="nav-items nav-level-1">
        <li class="nav-item">
            <a class="nav-link" href="#">
                Menu
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Directory
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Contact
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Quick links
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Launchpad
            </a>
        </li>
    </ul>
</nav>